
.skillset-content-carousel{
    border-radius: 20px;
    padding: 30px;
    width: 70vw;
    background-color: #d4dfb3;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom:20px ;
  }
  
  .skill {
    padding: 30px;
    margin: 5px;
    font-family: "Inter Tight";
    font-size: 24px;
    color: #006836;
    background-color: #d4dfb3;
    border: 1px solid #006836;
    border-radius: 25px;
  }
  
  .skill:hover {
    background-color: #e9f3ca;
    transition-duration: 0.2s;
    cursor: grab;
  }
  .skill:not(:hover) {
    background-color: #d4dfb3;
    transition-duration: 0.2s;
  }
  
  .skill:active {
    background-color: #006836;
    color: #d4dfb3;
    transition-duration: 0.2s;
    cursor: grabbing;

  }
  