@media only screen and (max-width: 768px) {
  .contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .contact-form-content-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-form-content-title h2 {
    text-align: center;
    color: #d4dfb3;
    font-family: "DM Serif Display";
  }

  .contact-form-response {
    text-align: center;
    color: #d4dfb3;
    font-family: "DM Serif Display";
    font-size: 32px;
  }

  .contact-form-content-email input {
    width: 60vw;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 10px;
    border: 1px solid #d4dfb3;
    background-color: #006836;
    color: #d4dfb3;
    font-family: "Inter Tight";
    margin: 5px;
  }
  .contact-form-content-email input::placeholder {
    color: #d4dfb3;
  }
  .contact-form-content-textarea textarea {
    min-width: 60vw;
    min-height: 20vh;
    max-height: 20vh;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 10px;
    border: 1px solid #d4dfb3;
    background-color: #006836;
    color: #d4dfb3;
    margin: 5px;
    resize: none;
    font-family: "Inter Tight";
  }
  .contact-form-content-textarea textarea::placeholder {
    color: #d4dfb3;
  }

  .contact-form-content-button {
    text-align: center;
  }
  .contact-form-content-button button {
    width: 62vw;
    border-radius: 10px;

    padding: 20px;
    border: 1px solid #d4dfb3;
    background-color: #d4dfb3;
    color: #006836;
    font-family: "Inter Tight";
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
  }
  .contact-form-content-button button:hover {
    background-color: #e9f3ca;

    transition-duration: 0.2s;
  }
  .contact-form-content-button button:not(:hover) {
    background-color: #d4dfb3;
    transition-duration: 0.2s;
  }

  .contact-form-content-button button:active {
    background-color: #006836;
    color: #d4dfb3;
    transition-duration: 0.2s;
  }
}
