@font-face {
    font-family: "Inter Tight SemiBold";
    src: url("./fonts/InterTight-SemiBold.ttf");
}

@font-face {
    font-family: "Inter Tight Regular";
    src: url("./fonts/InterTight-Regular.ttf");
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--background);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    scroll-behavior: smooth;
    --background: #6e4eff;
    --background-darker: #5132da;
    --background-lighter: #a28eff;
    --foreground: #ffeeb5;
    --foreground-lighter: #fff5d3;
}

.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.355);
    z-index: 1000;
}

.invisible {
    animation: hide 0.2s;
    opacity: 0.2;
    cursor: not-allowed;
    pointer-events: none;
}